extends ../layout.jade

block title
  title Filter built with React.js

block content
  h1 Filter built with React.js
  span
    | * by the way, insert items actually behaves a little crazy and not return all found results because of #[a(href='https://github.com/sequelize/sequelize/issues/2886') this bug] in #[a(href='http://sequelizejs.com/') Sequelize]
  #filter


